<a href="https://colab.research.google.com/github/Keet-ana/Python/blob/Python/Data_Structures___Strings_%26_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. String Concatenation:**
A program that takes two strings i.e string 1 “Hello”, string 2 get name as input from the user and concatenates them together. Displaying the concatenated string as the output.

In [ ]:
#String Concatenation
greeting = "Hello "
name = input("Enter your Name: ")
full_greeting = greeting + name
print(full_greeting)

Enter your Name: Ann
Hello Ann

Concatenating string 3 “, Welcome to Python programming” to the existing string and display the output string.

In [ ]:
full_greeting += ", Welcome to Python programming"
print(full_greeting)

Hello Ann, Welcome to Python programming

**2. String Slicing and Indexing:**
a Python program using the above concatenated string as input and performs the following tasks:

a.	Print the first character of the string.

In [ ]:
print("First character:", full_greeting[0]) #First Character

First character: H

b.	Print the last character of the string.

In [ ]:
print("Last Character:", full_greeting[-1])

Last Character: g

c.	Print the first 5 characters of the string.

In [ ]:
print("First 5 Charcters:", full_greeting[:5])

Fifth Charcter: Hello

d.	Print the last 11 characters of the string.

In [ ]:
print("Last 11 Characters:",full_greeting[-11:])

Last 11 Characters: programming

e.	Print the string in reverse.

In [ ]:
print("String in Reverse:", full_greeting[::-1])

String in Reverse: gnimmargorp nohtyP ot emocleW ,nnA olleH

f.	Use slicing and print the word “Python” from the existing string.

In [ ]:
print("Extracted word 'Python':", full_greeting[full_greeting.find("Python"):full_greeting.find("Python") + 6])

Extracted word 'Python': Python

In [ ]:
#Breakdown for Extracted Word "Python"
start_index = full_greeting.find("Python")  # 23
end_index = start_index + 6  # 29
extracted_word = full_greeting[start_index:end_index]
print("Extracted word 'Python':", extracted_word)

Extracted word 'Python': Python

**3. String Methods:**
Write a Python program that takes a string, strM = “Python beginner tutorial” and perform the following tasks:

In [ ]:
strM = "Python beginner tutorial"

a.	Convert the sentence to uppercase.

In [ ]:
print("Uppercase:", strM.upper())

Uppercase: PYTHON BEGINNER TUTORIAL

b.	Convert the sentence to lowercase.

In [ ]:
print("Lowercase:", strM.lower())

Lowercase: python beginner tutorial

c.	Use Capitalize and return the sentence to the original input form.

In [ ]:
print("Capitalize:", strM.capitalize())

Capitalize: Python beginner tutorial

d.	Count the total number of occurrences of character ‘t’  in the string.

In [ ]:
print("Occurence of character t:", strM.count('t'))

Occurence of character t: 3

e.	Replace all occurrences of “Python” with “Machine Learning”  in the input string strM = “Python beginner tutorial”

In [ ]:
print("Replace Python into Machine learning:", strM.replace("Python","Machine Learning") )

Replace Python into Machine learning: Machine Learning beginner tutorial

**Tuples (Creation, Modification and Access) : **

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):

In [ ]:
T1=(10,20,30)
T2=(40,50,60)

a. Concatenate the two tuples and store it in “t_combine”

In [ ]:
t_combine=T1+T2
print("t_combine=",t_combine)

t_combine= (10, 20, 30, 40, 50, 60)

b. Repeat the elements of “t_combine” 3 times

In [ ]:
t_repeated = t_combine * 3
print("Repeated Tuple:", t_repeated)

Repeated Tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

c. Access the 3rd element from “t_combine”

In [ ]:
third_element = t_combine[2]
print("3rd Element:", third_element)

3rd Element: 30

d. Access the first three elements from “t_combine”

In [ ]:
first_three=t_combine[:3]
print("First three elements:",first_three)

First three elements: (10, 20, 30)

e. Access the last three elements from “t_combine”

In [ ]:
last_three=t_combine[3:]
print("Last three elements:",last_three)

Last three elements: (40, 50, 60)