<a href="https://colab.research.google.com/github/Keet-ana/Python/blob/Python/Data_Structures_List_Dictionary_Set_Frozenset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List (Creation, Modification and Access):


1. List Creation:

a.	Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [2]:
age_list = [24,25,26,27,28]
print("Initial age_list:", age_list)

Initial age_list: [24, 25, 26, 27, 28]


b.	Create a list named name_list with five string elements.

In [3]:
name_list = ["Akila","Keerthi","Surya","Chandra","Paula"]
print("Initial name_list:", name_list)

Initial name_list: ['Akila', 'Keerthi', 'Surya', 'Chandra', 'Paula']

2. List Operations / Modifications:

a.	Append the string "Yazhini" to name_list.

In [4]:
name_list.append("Yazhini")
print("After appending 'Yazhini':", name_list)

After appending 'Yazhini': ['Akila', 'Keerthi', 'Surya', 'Chandra', 'Paula', 'Yazhini']

b.	Insert the element 30 at index 2 in age_list.

In [5]:
age_list.insert(2, 30)
print("After inserting 30 at index 2:", age_list)

After inserting 30 at index 2: [24, 25, 30, 26, 27, 28]

c.	Remove the string "Yazhini" from name_list.

In [6]:

name_list.remove("Yazhini")
print("After removing 'Yazhini':", name_list)

After removing 'Yazhini': ['Akila', 'Keerthi', 'Surya', 'Chandra', 'Paula']

d.	Pop the last element from age_list.

In [7]:
popped_age = age_list.pop()
print("After popping last element:", age_list, "| Popped element:", popped_age)

After popping last element: [24, 25, 30, 26, 27] | Popped element: 28

e.	Extend the age_list with additional ages [29, 30, 26].

In [8]:
age_list.extend([29, 30, 26])
print("After extending age_list:", age_list)

After extending age_list: [24, 25, 30, 26, 27, 29, 30, 26]

f.	Sort age_list in descending order.

In [9]:
age_list.sort(reverse=True)
print("Sorted age_list in descending order:", age_list)

Sorted age_list in descending order: [30, 30, 29, 27, 26, 26, 25, 24]

g.	Find Max age, Min age and sum of all ages from age_list.

In [10]:
print("Max age:", max(age_list))
print("Min age:", min(age_list))
print("Sum of all ages:", sum(age_list))

Max age: 30
Min age: 24
Sum of all ages: 217

h.	Make a copy of age_list and store as age_list_copy

In [11]:
age_list_copy = age_list.copy()
print("Copy of age_list:", age_list_copy)

Copy of age_list: [30, 30, 29, 27, 26, 26, 25, 24]

i.	Clear all elements from age_list_copy.

In [12]:
age_list_copy.clear()
print("After clearing age_list_copy:", age_list_copy)

After clearing age_list_copy: []

3. Accessing List Elements:

a.	Print the first element of name_list.

In [14]:
print("First element of name_list:", name_list[0])

First element of name_list: Akila

b.	Print the last element of name_list.

In [15]:
print("Last element of name_list:", name_list[-1])

Last element of name_list: Paula


c.	Print the elements from index 2 to index 4 in name_list.

In [16]:
print("Elements from index 2 to index 4:", name_list[2:5])

Elements from index 2 to index 4: ['Surya', 'Chandra', 'Paula']

d.	Print the elements of name_list in reverse order.

In [17]:
print("name_list in reverse order:", name_list[::-1])

name_list in reverse order: ['Paula', 'Chandra', 'Surya', 'Keerthi', 'Akila']

e.	Create a list called list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1] and print the number of times element ‘1’ has occurred.

In [18]:
list_dup = [1, 2, 1, 1, 3, 1, 2, 5, 9, 1]
print("Count of '1' in list_dup:", list_dup.count(1))

Count of '1' in list_dup: 5

f.	Print length of list_dup.

In [19]:
print("Length of list_dup:", len(list_dup))

Length of list_dup: 10

# Dictionary (Creation, Modification and Access):

Dictionary Creation:

a.	Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100).

In [20]:
student_marks = {
    "Ajay": 85,
    "Bharathi": 78,
    "Chandru": 90,
    "Devi": 88,
    "Elias": 76
}
print("Student Marks Dictionary:", student_marks)

Student Marks Dictionary: {'Ajay': 85, 'Bharathi': 78, 'Chandru': 90, 'Devi': 88, 'Elias': 76}

b.	Access and print the mark of a specific student, of your choice.

In [21]:
print("Mark of Chandru:", student_marks["Chandru"])

Mark of Chandru: 90

2. Dictionary Modifications & Access:

a.	Add a new student "Janani" with a mark of 80 to the student_marks dictionary.

In [22]:
student_marks["Janani"] = 80
print("After adding 'Janani':", student_marks)

After adding 'Janani': {'Ajay': 85, 'Bharathi': 78, 'Chandru': 90, 'Devi': 88, 'Elias': 76, 'Janani': 80}

b.	Update the mark of any one older student to 82.

In [23]:
student_marks["Bharathi"] = 82
print("After updating Bharathi's mark:", student_marks)

After updating Bharathi's mark: {'Ajay': 85, 'Bharathi': 82, 'Chandru': 90, 'Devi': 88, 'Elias': 76, 'Janani': 80}

c.	Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary.

In [24]:
print("Keys:", list(student_marks.keys()))
print("Values:", list(student_marks.values()))
print("Items:", list(student_marks.items()))

Keys: ['Ajay', 'Bharathi', 'Chandru', 'Devi', 'Elias', 'Janani']
Values: [85, 82, 90, 88, 76, 80]
Items: [('Ajay', 85), ('Bharathi', 82), ('Chandru', 90), ('Devi', 88), ('Elias', 76), ('Janani', 80)]

#   Sets & Frozensets:

1. Sets:

a.	Create a set called my_set with following values:   
	['a','e','i','o','u','a','a','i']
Analyse the output and provide explanation for the same.

In [25]:
my_set = {'a', 'e', 'i', 'o', 'u', 'a', 'a', 'i'}
print("Created set (duplicates removed):", my_set)

Created set (duplicates removed): {'e', 'a', 'i', 'o', 'u'}

b.	Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.

In [27]:
try:
    my_set[4] = 's'   # Sets do not support indexing
except TypeError as e:
    print("Error:", e)

Error: 'set' object does not support item assignment

Sets are unordered collections, meaning elements are not stored in a specific order.
Because of this, sets do not support indexing or direct modification of elements.
If we try to access or modify an element using an index, Python raises a
TypeError.

c.	Create two sets:
	set1 with values: {1, 3, 5, 7, 9}
	set2 with values: {2, 3, 5, 8, 10}

In [28]:
set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}
print("set1 - ", set1)
print("set2 - ",set2)

set1 -  {1, 3, 5, 7, 9}
set2 -  {2, 3, 5, 8, 10}

d.	Compute the union of set1 and set2, and print the result.

In [29]:
union_set = set1 | set2
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 5, 7, 8, 9, 10}

e.	Perform an intersection operation between set1 and set2, and print the result.

In [30]:
intersection_set = set1 & set2
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3, 5}

Frozensets:

a.	Create a frozenset named immutable_set containing the integers: 1, 2, 3, 4, 5. Print the frozenset.

In [31]:
immutable_set = frozenset([1, 2, 3, 4, 5])
print("Frozenset:", immutable_set)

Frozenset: frozenset({1, 2, 3, 4, 5})

b.	Try to add an element (e.g., 6) to the immutable_set frozenset. Observe and describe any exceptions that occur.

In [32]:
try:
    immutable_set.add(6)
except AttributeError as e:
    print("Error:", e)

Error: 'frozenset' object has no attribute 'add'

Frozensets do not support adding new elements